.body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: azure;
    font-size: 16px;
  }
  .header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: rgba(8, 197, 150, 0.938);
    z-index: 99;
  }
  .brand {
    flex: 1;
    color: black;
    text-shadow: 0 0 12px rgb(151, 142, 15);
    margin-left: 50px;
  }
  .brand__h1 {
    font-family: "Racing Sans One", cursive;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .menu {
    display: flex;
    padding: 0;
  }
  .menu__item {
    list-style: none;
  }
  .menu__link {
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    /* especifica el peso o grueso de la letra. Algunos tipos de letra */
    font-weight: 700;
  }
  
  .menu__link:hover {
    color: rgb(228, 231, 10);
  }
  .search-wrapper{
    flex: 1;
    position: relative;
    margin-right: 50px;
    text-align: right;
  }
  
  .search-wrapper__i{
    font-size: 20px;
    color: black;
  }
  
  .nosotros{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotros-text{
    position: absolute;
    left: 7%;
    top: 43%;
    height: 110px;
  }
  
  .nosotros__title-1{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-left: 10px;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 27px;
  
  }
  
  .nosotros__title-2{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
    line-height: 27px;
  
  }
  
  .nosotros-img{
    position: absolute;
    max-width: 622px;
    height: 438px;
    width: 100%;
    top: 28%;
    left: 20%;
    margin-left: 300px;
    filter: drop-shadow(0 10px 6px black);
  }
  
  .nosotros-img__1{
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .vacio{
    height: 110px;
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100%;
    top: 43%;
    background: burlywood;
    z-index: -1;
  }
  .container{
    width: 84%;
    margin: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 0;
   
  }
  .col-left-1{
    float: left;
    width: 50%;
    height: 435px;
    margin-top: 20px;
    margin-left: 0;
    background-color: rgb(162, 255, 255);
    
  }
  
  .nuestro__tile-1--bienvenido{
    padding: 0;
    margin: 0;
    margin: 40px 40px 40px 40px;
  }
  .nuestro__tile-2--bienvenido{
    padding: 0;
    margin: 0;
    margin: 40px 40px 40px 40px;
    color: white;
  }
  
  .nosotros__parrafo{
    margin-top: 32px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
    color: white;
    line-height: 28px;
    margin: 40px;
  }
  .col-right-1{
    height: 435px;
    width: 50%;
    padding: 0;
    margin-top: 20px;
  }
  .container__img-1{
    width: 100%;
    height: 435px;
    object-fit: cover;
  }
  .col-left-1--nuestros{
    margin-top: 0px;
  }
  .col-right-1--nuestros{
    margin-top: 0px;
    background-color: turquoise;
   
  }
  .container--informacion{
    height: auto;
   
  }
  
  .col-left-1--informacion{
    width: 100%;
    height: auto;
    margin: 0;
   
  }
  
  .infor{
    position: relative;
    width: 34%;
    height: 251px;
    display: inline-block;
    margin-bottom: -4px;
    overflow: hidden;
    margin-left: 440px;
    transition: 0.3s ease-out;
   
  }
  .infor:hover{
    box-shadow: 0 0 8px blueviolet;
  }
  .img-box{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  .container__img-2{
    padding: 0;
    margin: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    transition: 0.5s;
    object-fit: cover;
    transform: scale(1.08);
    
  }
  
  .container__img-2:hover{
    transform: scale(1);
    
  }
  .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background: chocolate;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
    opacity: 0.95;
 
  }
  
  .infor:hover .content{
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
  }
  .content__title{
    color: beige;
    margin: 5px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 22px;
    opacity: 1;
  }
  
  .price{
    position: absolute;
    margin: 0px 2px;
    transform: translate(-50%, -50%);
    height: 27px;
    width: 9px;
    display: flex;
    transform: translate(2px);
  }
  .infor:hover .price{
    transform: translateY(0);
    opacity: 1;
  }
  .price-left{
    width: 50%;
    height: auto;
    background: coral;
    line-height: 13px;
    font-size: 18px;
    text-align: justify;
  }
  .price_parrafo{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: beige;
    margin: 8px 14px;
    transform: translateY(2px);
    transition: 0.3s;
    text-align: justify;
    line-height: 1.3px;
  }

.infor:hover .price_parrafo{


transform: translateY(0);
opacity: 1;

}


.col-left-1--contact{
position: relative;
margin-top: 0px;
box-shadow: 0px 0px 60px blanchedalmond;
margin-left: 330px;
}

.icons-contact{
height: 62px;
margin: 0px 40px -17px 40px;
}

.icons-contact__1{
    height: auto;
    margin: 0px 40px -17px 40px;
    text-align: center;
    float: left;
    font-size: 25px;
    padding-top: 10px ;
    color: white;
    width: 20px;
    padding-right: 20px;
    }



.icons-contact__title{
     font-family: serif;
     color: rgb(197, 127, 243);
     font-size: 16px;
     line-height: 62px;
     
        }    
 .list-social{
            padding: 5px;
            text-align: center;
               }   
.icons-social{
                padding: 5px;
               
                   } 
.icons-social__item{
                display: inline-block;
            
                   }   

 .icons-social__link{
                   color: rgba(12, 187, 134, 0.856);
                   font-size: 23px;
                   border-radius: 8px;
                   background: rgb(247, 238, 204);
                   box-shadow: 0 15px 30px rgb(230, 169, 56);
                   transition: 0.2s linear;
                   display: flex;
                   height: 35px;
                   width: 35px;
                   margin: 0px 5px;
                   text-decoration: none;
                   justify-content: center;
                   align-items: center;
                  
             }

.icons-social__link:hover{
  box-shadow: 0 0 0 brown;
}
                     
                
.footer{
color: crimson;
padding: 40px;
text-align: center;
background-color:  rgba(9, 177, 135, 0.822);
margin: 0;
font-family: 'Times New Roman', Times, serif ;

                         }


.container-footer{
    color: black;
    text-decoration: none;
}

.container-footer:hover{
  color: rgb(0, 255, 191);
}


@media(max-width: 1000px){
.nosotros-text{
    top: 60%;
}

.nosotros-img{
    text-align: center;
    top: 0;
    left: 0px;
    margin: 24% auto;
    position: relative;
}

.vacio{
    top: 60%;
}

.container{
    display: block;
}

.col-left-1{

    float: left;
    width: 100%;
    margin: 0px;
    padding-top: 0px;
}

.nuestro__tile-1--bienvenido{
margin-top: 0px;
}

.col-right-1{
    margin-top: 0px;
    text-align: center;
    width: 100%;
}

.container__img-1{
    width: 100%;

}

.col-left-1--nuestros{
    padding-top: 0px;
    text-align: center;
    width: 100%;
}

.col-rigth-1--nuestros{
    padding-top: 60px;
    text-align: left;
}

.col-left-1--informacion{
    padding-top: 0px;
}

.infor{
width: 101%;
height: 481px;

}

.infor:hover .content{


height: 30%;

}

.content__title{
    font-size: 28px;

}

.price{
    height: 34px;
    width: 12px;
}

.price-left{
    line-height: 14px;
}

.price_parrafo{
    font-size: 22px;
margin: 9px 18px;
}




}





@media(max-width: 750px) and (max-height: 750px){

.nosotros-text{
    top: 235%;
}

.nosotros-img{
    max-width: 587px;
    height: 414px;
    margin-bottom: 48%;
}

.vacio{
    top: 235%;

}

.infor{
    width: 101%;
    height: 381px;
}

}

@media(max-width: 450px) {

.header{
    height: 60px;
}

.brand{
    margin-left: 20px;
}

.brand__h1{


font-size: 21px;
}

.menu__link{
    font-size: 16px;
    padding: 10px 7.5px;
}

.search-wrapper{
    font-size: 15px;
}

.search-wrapper__i{
    margin-right:20px ;
}

.nosotros-text{
    left: 3%;
}

.nosotros__title-1{
    font-size: 20px;

}
.nosotros__title-2{
    font-size: 16px;
    
}

.nosotros-img{
    max-width: 311px;
    height: 219px;
}

.col-left-1{
    height: 510px;
    padding-top: 30px;
}

.nuestro__tile-1--bienvenido{
margin: 0px 20px 20px 20px;

}

.nuestro__tile-2--bienvenido{
    margin: 20px 20px 20px 20px;
    
}

.nosotros__parrafo{
    font-size: 26px;
    margin: 20px;
}

.col-rigth-1{
width: 100%;
height: 302px;

}

.container__img-1{
    width: 100%;
    height: 302px;
    
    }

    .col-left-1--nuestros{

        width: 302px;
        height: 302px;
        padding-top: 0px;
        
        }
    
        .col-right-1--nuestros{

           
            height: 510px;
            padding-top: 30px;
            
            }

.container--informacion{
    padding-top: 0px;
    height: auto;
}
.infot{
    width: 102%;
    height: 201px;
}

.infot:hover .content {
   
    height: 40%;
}

.content__title{

    margin: 5px 20px;
    font-size: 20px;
}

.price{
    height: 24px;
    width: 8px;
}

.price-left{
    line-height: 10px;
}

.price_parrafo{
    font-size: 16px;
    margin: 7px 13px;
}

.icons-contact{
    border-left: 8px solid violet;
    margin: 0px 20px -17px 20px;

}

.icons-contact__1{
    padding-right: 10px;
}
.icons-social{
    padding: 0;
}

.icons-social__link{
    font-size: 18px;
    height: 28px;
    width: 28px;
    margin: 0px 4px;
}

.footer{
    padding: 15px;
}

.container-footer{
    font-size: 15px;
}


}


